# Sets

S={1,2,3,4}

# 
Sets are mutable

All elements should be unique

Immutable elements in the set== int,foat, tuple, str

Unordered so indexing and slicing not supported

In [2]:
S={10,45,21,10,40}
S

{10, 21, 40, 45}

# add(),union(),intersection(),diff()

In [3]:
S.add(50)
S

{10, 21, 40, 45, 50}

In [4]:
S1={10,20,30,40,50,60}
S2={70,40,50,40,80,90,100}
S3=S1.union(S2)

In [5]:
S3

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [6]:
S3=S1.intersection(S2)

In [7]:
S3

{40, 50}

In [8]:
S3=S1.difference(S2)

In [9]:
S3

{10, 20, 30, 60}

In [10]:
S3=S1.symmetric_difference(S2)

In [11]:
S3

{10, 20, 30, 60, 70, 80, 90, 100}

# update intersection update , diff update, is subset , issubset

In [20]:
#update is same as union but it will not return anything instead it will just update the orginal set
S1.update(S2)

In [21]:
S1

{10, 20, 30, 40, 50, 60, 70, 80, 90, 100}

In [22]:
S1.intersection_update(S2)
S1

{40, 50, 70, 80, 90, 100}

In [23]:
S1.difference_update(S2)
S1

set()

In [24]:
S1={10,20,40,50}

In [25]:
S1.issubset(S2)

False

In [26]:
S1.issuperset(S2)

False

# Type conversion

In [27]:
l=[1,2,3,4,5,6,45,6,7,5,2,1]
s=set(l)
s

{1, 2, 3, 4, 5, 6, 7, 45}

In [41]:
l1=[30,40,40,78,90,80,90]
l2=[30,50,32,74,21,80,90,80,50]

s1=set(l1)
s2=set(l2)
s3=s1.union(s2)
s3

l3=list(s3)
l3.sort()
l3

[21, 30, 32, 40, 50, 74, 78, 80, 90]

In [43]:
l3=sorted(s3)
l3

[21, 30, 32, 40, 50, 74, 78, 80, 90]

# pop remove discard clear del

In [44]:
s1

{30, 40, 78, 80, 90}

In [45]:
s1.pop()

40

In [46]:
S1.pop()

40

In [47]:
S1

{10, 20, 50}

In [48]:
s1.pop()

78

In [49]:
s1

{30, 80, 90}

In [50]:
s1.remove(30)

In [51]:
s1

{80, 90}

In [52]:
s1.discard(1000)
s1

{80, 90}

In [53]:
s1.discard(80)
s1

{90}

In [54]:
s1.clear()

In [55]:
s1

set()

In [56]:
del s1

In [57]:
s1

NameError: name 's1' is not defined